<launch>
  <!--  Launches a simulation with a static arm  -->
  
  <arg name="model" default="testarm"/>
  
  <arg name="model_xacro" default="$(find rover_arm)/urdf/$(arg model).xacro"/>
  <arg name="model_srdf" default="$(find rover_arm)/config/$(arg model).srdf"/>
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
  
  <!--
  <rosparam command="load" ns="/nimrod"
            file="$(find rover_arm)/config/arm_control.yaml"/>
  
  
  <node name="rover_controller_spawner" pkg="controller_manager" type="spawner"
        ns="/nimrod" args="joint_base joint0 joint1 joint2 joint3 joint4 joint5 joint6 joint_state_controller"/>-->
  <rosparam command="load"
            file="$(find rover_arm)/config/arm_control.yaml"/>
  
  
  <node name="rover_controller_spawner" pkg="controller_manager" type="spawner"
        args="arm_controller gripper_controller joint_state_controller"/>
    

  <include file="$(find rover_sim)/launch/gazebo.launch">
    <arg name="model" value="$(arg model_xacro)" />
    <arg name="paused" value="true" />
  </include>

<!--   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" /> -->

 
    
</launch>
